/* タブレット向けレイアウト */
@media (max-width: 1000px) {
  .comtents-item {
    width: 50%;
    margin-bottom: 50px;
  }
}

/* スマホ向けレイアウト */
@media (max-width: 665px) {
  .contents-item, .contents-item2 {
    width: 100%;
  }
.header-logo {
    line-height: 66px;
    font-size: 228%;
  }
  footer {
    text-align: center;
  }
